$font-logo: 'Playfair Display',
serif;
$font-lora: 'Lora',
serif;
$font-lato: 'Lato',
sans-serif;
$font-roboto: 'Roboto',
sans-serif;
$color-white: #fff;
$color-black: #222831;
$color-orange: #FF5722;
$color-red: #DD2C00;
$color-logo: #10375C;
$color-main: #10375C;
$color-grey-line:#dfdfdf;
$color-grey: #6A6A6A;
$color-grey_light: #9A9A9A;