@import '_param';
html {
    font-size: 10px;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.wrapper {
    width: 320px;
    margin: 0 auto;
    border: 1px solid;
    overflow: hidden;
}

.container {
    width: 260px;
    margin: 0 auto;
}

.header {
    &-style {}
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        border-bottom: 1px solid $color-grey-line;
    }
    &__logo {
        padding: 0 165px 0 29px;
        font-family: $font-inglobal;
        font-size: 2.2rem;
        font-weight: 700;
        font-style: italic;
        color: $color-red;
    }
    &__line {
        width: 1px;
        height: 100%;
        background-color: $color-grey-line;
    }
    &__burger {
        width: 70px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
        &-menu {
            width: 16px;
            height: 3px;
            background-color: $color-red;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                top: -5px;
                left: 0pc;
                width: 16px;
                height: 3px;
                background-color: $color-red;
            }
            &::after {
                position: absolute;
                content: '';
                top: 5px;
                left: 0pc;
                width: 16px;
                height: 3px;
                background-color: $color-red;
            }
        }
    }
    &__img {
        width: 100%;
        height: 340px;
        background-image: url('../img/header/header__img.png');
        background-position: center center;
        background-size: cover;
        padding-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__title {
        // width: 297px;
        text-shadow: -1px 1px 5px #1e1e1e, -2px 2px 5px #1e1e1e, -3px 3px 5px #1e1e1e, -4px 4px 5px #1e1e1e, 1px -1px 5px #1e1e1e, 2px -2px 5px #1e1e1e, 3px -3px 5px #1e1e1e, 4px -4px 5px #1e1e1e, -1px -1px 5px #1e1e1e, -2px -2px 5px #1e1e1e, -3px -3px 5px #1e1e1e, -4px -4px 5px #1e1e1e, 1px 1px 5px #1e1e1e, 2px 2px 5px #1e1e1e, 3px 3px 5px #1e1e1e, 4px 4px 5px #1e1e1e, 0 0 51px rgba(255, 255, 255, 0.5);
        color: $color-white;
        font-family: $font-inglobal;
        font-size: 2.2rem;
        font-weight: 700;
        font-style: italic;
        transform: rotate(-10deg);
        padding-left: 30px;
        &_1 {
            text-align: left;
            padding-left: 25px;
        }
        &_2 {
            text-align: right;
            padding-left: 55px;
        }
        &_3 {
            text-align: left;
        }
    }
}

.touch {
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__line {
        width: 60px;
        height: 1px;
        background-color: $color-grey-line;
    }
    &__data {
        display: flex;
        align-items: center;
    }
    &__icon {
        width: 34px;
        height: 45px;
    }
    &__text {
        width: 64px;
        padding-left: 5px;
        font-family: $font-inglobal;
        font-size: 1.8rem;
        font-weight: 700;
        font-style: italic;
        line-height: 1.8rem;
        &_red {
            color: $color-red;
        }
        &_blue {
            color: $color-blue;
            width: 85px;
        }
    }
}

.main-style {
    padding-top: 90px;
}

.text-1 {
    text-align: right;
    padding-bottom: 162px;
    // padding-top: 142px;
    &__title {
        font-family: $font-inglobal;
        font-size: 2.4rem;
        font-weight: 700;
        font-style: italic;
        line-height: 24px;
        color: $color-blue;
        padding-bottom: 35px;
    }
    &__text {
        font-family: $font-open;
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: $color-text;
    }
}

.form {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        top: -125px;
        left: -110px;
        width: 218px;
        height: 204px;
        background-image: url('../img/form/elements/hat.png');
    }
    &__elements-left {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: -125px;
            left: 20px;
            width: 114px;
            height: 72px;
            background-image: url('../img/form/elements/monocle.png');
            background-position: center center;
            z-index: -2;
        }
        &::after {
            position: absolute;
            content: '';
            top: -100px;
            left: 140px;
            width: 98px;
            height: 55px;
            background-image: url('../img/form/elements/pipe.png');
            background-position: center center;
            z-index: -2;
        }
    }
    &__elements-right {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: -75px;
            left: 187px;
            width: 54px;
            height: 45px;
            background-image: url('../img/form/elements/cup.png');
            background-position: center center;
            z-index: -2;
        }
        &::after {
            position: absolute;
            content: '';
            top: -73px;
            right: -33px;
            width: 102px;
            height: 82px;
            background-image: url('../img/form/elements/teapot.png');
            background-position: center center;
            z-index: -2;
        }
    }
    &__style {
        width: 100%;
        height: 460px;
        background-color: $color-white;
        border-top: 1px solid $color-grey-line;
        padding-top: 53px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        &::before {
            content: '';
            background-image: url('../img/form/flag-gift.png');
            background-position: center bottom;
            position: absolute;
            top: -90px;
            left: 36px;
            width: 248px;
            height: 97px;
            z-index: -1;
        }
    }
    &__title {
        font-family: $font-open;
        font-size: 1.8rem;
        font-weight: 700;
        color: $color-text-grey;
        padding-bottom: 8px;
    }
    &__text {
        font-family: $font-open;
        color: $color-text-grey;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.4rem;
        text-align: center;
        padding-bottom: 25px;
    }
    &__inputs {
        width: 240px;
        height: 94px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__input {
        width: 240px;
        height: 40px;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        border: 1px solid $color-grey-line;
        background-color: $color-white;
        padding: 16px 0px 15px 14px;
        color: $color-grey-input;
        font-family: $font-open;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2.4;
        text-align: left;
        margin-bottom: 14px;
    }
    &__button {
        padding-top: 20px;
        padding-bottom: 29px;
    }
    &__btn {
        width: 240px;
        height: 40px;
        box-shadow: inset 0 -2px 0 #0568b5;
        border-radius: 4px;
        background-color: $color-blue;
        border: none;
        outline: none;
        color: $color-white;
        font-family: $font-open;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 2.4rem;
        text-align: center;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        &:hover {
            cursor: pointer;
        }
    }
    &__tel {
        color: $color-blue;
        font-family: $font-open;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.6rem;
        padding-bottom: 45px;
    }
}

.clients {
    width: 100%;
    min-height: 300px;
    background-image: url('../img/clients/bg-wood_mobile.jpg');
    &__title {
        background-clip: text;
        color: linear-gradient(180deg, #dec8a8 0%, #b76c00 100%);
        text-shadow: 0 1px 1px $color-white;
        font-family: $font-inglobal;
        font-size: 1.8rem;
        font-weight: 700;
        font-style: italic;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
    }
    &__items {
        position: relative;
        z-index: 1;
    }
    &__item_1 {
        width: 94px;
        height: 110px;
        background-image: url('../img/clients/logos/mobile/note-1.png');
        background-position: center center;
        position: absolute;
        top: 113px;
        left: -13px;
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    &__logo-1 {
        width: 62px;
        height: 56px;
    }
    &__item_2 {
        width: 103px;
        height: 98px;
        background-image: url('../img/clients/logos/mobile/note-2.png');
        background-position: center center;
        position: absolute;
        top: 62px;
        left: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    &__logo-2 {}
    &__item_3 {}
    &__logo-3 {}
    &__item_4 {}
    &__logo-4 {}
    &__item_5 {}
    &__logo-5 {}
    &__item_6 {}
    &__logo-6 {}
    &__item_7 {}
    &__logo-7 {}
    &__item_8 {}
    &__logo-8 {}
}