@font-face {
  font-family: 'Perfect';
  src: url("../font/Perfect/perfect.eot");
  src: local("perfect"), local("perfect"), url("../font/Perfect/perfect.eot?#iefix") format("embedded-opentype"), url("../font/Perfect/perfect.woff2") format("woff2"), url("../font/Perfect/perfect.woff") format("woff"), url("../font/Perfect/perfect.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
html {
  font-size: 10px; }

*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: 900px;
  display: flex;
  justify-content: center; }

.main__style {
  width: 100%; }

.for-whom {
  width: 100%;
  padding-bottom: 100px;
  margin: 0 auto; }
  .for-whom__title {
    width: 100%;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    padding: 30px 0px 35px 0px;
    margin: auto;
    font-size: 2.30rem;
    line-height: 2rem;
    text-transform: uppercase; }
  .for-whom__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 900px; }
  .for-whom__top {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 2; }
    .for-whom__top::after {
      content: '?';
      position: absolute;
      padding: 25px 0 0 40px;
      width: 155px;
      height: 181px;
      background-color: #fee600;
      font-family: "Perfect";
      font-size: 18rem;
      font-weight: 500;
      top: -20px;
      left: 29px;
      z-index: 1; }
  .for-whom__squares {
    width: 190px;
    height: 190px;
    position: absolute;
    z-index: 3;
    font-size: 6rem;
    top: 0px;
    left: 0px; }
    .for-whom__squares::before {
      content: '';
      position: absolute;
      width: 200px;
      height: 215px;
      background: linear-gradient(#2c2b2a 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #2c2b2a 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#2c2b2a 50%, rgba(255, 255, 255, 0) 0%);
      background-position: right, bottom, left;
      background-repeat: repeat-y, repeat-x, repeat-y;
      background-size: 6px 65px, 65px 6px, 6px 65px;
      border-top: none;
      top: 0px;
      left: 0px;
      z-index: 4; }
  .for-whom__text {
    width: 100%;
    background: linear-gradient(to right, #2c2b2a 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#2c2b2a 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, right;
    background-repeat: repeat-x, repeat-y;
    background-size: 65px 6px, 6px 65px;
    padding: 30px 50px 30px 275px;
    z-index: 2; }
  .for-whom__items {
    font-family: "Rubik", sans-serif;
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-weight: 400;
    color: #000; }
  .for-whom__bottom {
    background: linear-gradient(to right, #2c2b2a 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#2c2b2a 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 65px 6px, 6px 65px;
    border-right: none;
    border-bottom: none;
    width: 820px;
    height: 170px; }
  .for-whom__program {
    width: 100%;
    padding-left: 220px;
    padding-top: 55px;
    position: relative; }
    .for-whom__program::before {
      content: '\22b9';
      position: absolute;
      font-size: 10.5rem;
      font-family: "Rubik", sans-serif;
      color: #000;
      font-weight: 600;
      top: -10px;
      left: 55px; }
    .for-whom__program::after {
      content: '\22b9';
      position: absolute;
      font-size: 20rem;
      font-family: "Rubik", sans-serif;
      color: #000;
      font-weight: 600;
      top: -20px;
      right: -15px; }
  .for-whom__subtitle {
    font-family: "JetBrains Mono", monospace;
    font-size: 2.5rem;
    font-weight: 500; }
  .for-whom__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 55px 220px 0 150px;
    position: relative; }
    .for-whom__buttons::before {
      position: absolute;
      content: '\22b9';
      font-size: 17rem;
      font-family: "Rubik", sans-serif;
      color: #000;
      font-weight: 600;
      top: 0px;
      left: -55px; }
    .for-whom__buttons::after {
      position: absolute;
      content: '\22b9';
      font-size: 9rem;
      font-family: "Rubik", sans-serif;
      color: #000;
      font-weight: 600;
      bottom: -45px;
      right: 60px; }
  .for-whom__btn {
    width: 215px;
    height: 62px;
    background-color: #fee600;
    color: #2c2b2a;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 2.1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500; }
    .for-whom__btn:hover {
      cursor: pointer;
      background-color: #2b2d33;
      color: #fff; }

.programm {
  width: 100%;
  margin: 0 auto; }
  .programm__day {
    padding-bottom: 20px; }
  .programm__day-text {
    width: 455px;
    height: 77px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2d33;
    font-family: "JetBrains Mono", monospace;
    font-size: 2.3rem;
    color: #fee600;
    font-weight: 400;
    margin: 0 auto; }
  .programm__items {
    padding-top: 55px; }
  .programm__item {
    width: 100%;
    min-height: 55px;
    display: flex;
    padding-bottom: 10px; }
  .programm__line {
    width: 28%;
    text-align: right; }
  .programm__type {
    background-color: #fee600;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #000;
    line-height: 3rem;
    padding-right: 20px; }
  .programm__text {
    width: 72%;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #000;
    line-height: 3rem;
    padding-left: 30px;
    padding-bottom: 20px; }

@media only screen and (min-width: 768px) and (max-width: 939px) {
  .container {
    width: 96%; }

  html {
    font-size: 8px; }

  .for-whom {
    padding-bottom: 70px; }
    .for-whom__title {
      padding: 15px 0px 15px 0px;
      margin: auto;
      font-size: 2.30rem;
      line-height: 2rem;
      text-transform: uppercase; }
    .for-whom__block {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%; }
    .for-whom__top {
      width: 100%;
      display: flex;
      position: relative;
      z-index: 2; }
      .for-whom__top::after {
        content: '?';
        position: absolute;
        padding: 15px 0 0 25px;
        width: 145px;
        height: 171px;
        background-color: #fee600;
        font-family: "Perfect";
        font-size: 18rem;
        font-weight: 500;
        top: -10px;
        left: 19px;
        z-index: 1; }
    .for-whom__squares {
      width: 170px;
      height: 170px;
      position: absolute;
      z-index: 3;
      font-size: 6rem;
      top: 0px;
      left: 0px; }
      .for-whom__squares::before {
        content: '';
        position: absolute;
        width: 175px;
        height: 195px;
        background: linear-gradient(#2c2b2a 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #2c2b2a 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#2c2b2a 50%, rgba(255, 255, 255, 0) 0%);
        background-position: right, bottom, left;
        background-repeat: repeat-y, repeat-x, repeat-y;
        background-size: 4px 40px, 40px 4px, 4px 40px;
        border-top: none;
        top: 0px;
        left: 0px;
        z-index: 4; }
    .for-whom__text {
      width: 100%;
      background: linear-gradient(to right, #2c2b2a 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#2c2b2a 50%, rgba(255, 255, 255, 0) 0%);
      background-position: top, right;
      background-repeat: repeat-x, repeat-y;
      background-size: 40px 4px, 4px 40px;
      padding: 15px 30px 20px 220px;
      z-index: 2; }
    .for-whom__items {
      font-family: "Rubik", sans-serif;
      font-size: 2.6rem;
      line-height: 2.8rem;
      font-weight: 400;
      color: #000; }
    .for-whom__bottom {
      background: linear-gradient(to right, #2c2b2a 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#2c2b2a 50%, rgba(255, 255, 255, 0) 0%);
      background-position: top, left;
      background-repeat: repeat-x, repeat-y;
      background-size: 40px 4px, 4px 40px;
      border-right: none;
      border-bottom: none;
      width: 80%;
      height: 130px; }
    .for-whom__program {
      width: 100%;
      padding-left: 170px;
      padding-top: 40px;
      position: relative; }
      .for-whom__program::before {
        content: '\22b9';
        position: absolute;
        font-size: 10.5rem;
        font-family: "Rubik", sans-serif;
        color: #000;
        font-weight: 600;
        top: -10px;
        left: 55px; }
      .for-whom__program::after {
        content: '\22b9';
        position: absolute;
        font-size: 20rem;
        font-family: "Rubik", sans-serif;
        color: #000;
        font-weight: 600;
        top: -20px;
        right: -15px; }
    .for-whom__subtitle {
      font-family: "JetBrains Mono", monospace;
      font-size: 2.5rem;
      font-weight: 500; }
    .for-whom__buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 55px 105px 0 35px;
      position: relative; }
      .for-whom__buttons::before {
        position: absolute;
        content: '\22b9';
        font-size: 17rem;
        font-family: "Rubik", sans-serif;
        color: #000;
        font-weight: 600;
        top: 0px;
        left: -55px; }
      .for-whom__buttons::after {
        position: absolute;
        content: '\22b9';
        font-size: 9rem;
        font-family: "Rubik", sans-serif;
        color: #000;
        font-weight: 600;
        bottom: -45px;
        right: 60px; }
    .for-whom__btn {
      width: 215px;
      height: 62px;
      background-color: #fee600;
      color: #2c2b2a;
      border: none;
      outline: none;
      border-radius: 10px;
      font-size: 2.1rem;
      font-family: "Rubik", sans-serif;
      font-weight: 500; }
      .for-whom__btn:hover {
        cursor: pointer;
        background-color: #2b2d33;
        color: #fff; }

  .programm__text {
    padding-right: 20px; } }
