$color_yellow: #fee600;
$color_dark: #2c2b2a;
$color_black: #000;
$color_white: #fff;
$color_dark-bg: #2b2d33;
$font-title: 'JetBrains Mono',
monospace;
$font-text: 'Rubik',
sans-serif;
$font-pixel: 'Perfect';