$font-main: 'Raleway',
sans-serif;
$color-black:#000;
$color-white: #fff;
$color-blue: #195CCB;
$color-blue_light: #F3F8FF;
$color-yellow:#FAB339;
$color-nav:#1B2431;
$color-text: #142850;
$color-grey: #E6EDFA;
$color-dollar: #3B83FA;
$color-promo_bg: #4080EB;