*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  font-size: 10px; }

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2; }

.invisible {
  display: none; }

.wrapper {
  width: 640px; }

.container__white {
  background-color: #fff;
  padding: 16px 25px; }
.container__pink {
  background-color: #FEEBEF;
  padding: 16px 0px; }

.choose__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #000;
  padding-bottom: 11px; }
.choose__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #000;
  padding-bottom: 42px; }
.choose__sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px; }
.choose__numb {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #000; }
.choose__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  height: 9px;
  background: #e2e2e2;
  border-radius: 8px; }
  .choose__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 3;
    position: relative; }
    .choose__range::-webkit-slider-thumb::before {
      background: #fa7775; }
  .choose__range-div {
    width: 100%;
    margin: 0 33px 0 16px;
    display: flex;
    flex-direction: column-reverse;
    position: relative; }
.choose__selector {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: -7px;
  left: 2%;
  transform: translateX(-50%);
  z-index: 2; }
.choose__btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  border: 8px solid #FE4D4A;
  box-shadow: 1px 2px 6px 0px #fa7775; }
.choose__value {
  width: 72px;
  height: 28px;
  border-radius: 5px;
  position: absolute;
  top: -34px;
  left: -24px;
  background-color: #FE4D4A;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .choose__value::after {
    content: '';
    width: 0;
    height: 0;
    bottom: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FE4D4A;
    position: absolute; }
  .choose__value-white {
    background-color: #fff; }
    .choose__value-white::after {
      content: '';
      width: 0;
      height: 0;
      bottom: -5px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
      position: absolute; }
.choose__progress-bar {
  width: 0%;
  height: 9px;
  background: linear-gradient(90deg, #FF9796 4.65%, #FE4D4A 101.3%);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 8px; }

.result {
  transition: 1s; }
  .result__title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: #000;
    width: 380px;
    padding-bottom: 25px; }
  .result__data {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 24px 10px; }
  .result__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px; }
    .result__item:nth-child(even) {
      margin: 0 23px; }
    .result__item:last-child {
      width: 210px; }
  .result__coins {
    text-align: center;
    padding-bottom: 15px; }
  .result__sum {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.9rem;
    text-align: center;
    color: #FE4D4A;
    padding-bottom: 8px; }
  .result__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #000; }
  .result__quetion {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #FEEBEF;
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #FE4D4A; }
    .result__quetion:hover {
      cursor: pointer; }

.chart {
  width: 100%;
  height: 519px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .chart__coins {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #FFF6F8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .chart__img {
    text-align: center;
    padding-bottom: 14px; }
  .chart__sum {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: #FE4D4A;
    text-align: center;
    padding-bottom: 28px; }
  .chart__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #000;
    padding: 9px 0 26px 0; }
  .chart__items {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .chart__item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .chart__graph {
    width: 130px;
    height: 130px; }
  .chart__legend {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.3rem;
    color: #FE4D4A;
    padding-top: 17px; }
  .chart__desc {
    width: 190px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #000;
    padding-top: 9px; }

.readers {
  width: 100%;
  height: 67px;
  background-color: #FEEBEF;
  display: flex;
  justify-content: center;
  align-items: center; }
  .readers__link {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #FE4D4A;
    text-decoration: none; }
    .readers__link:hover {
      cursor: pointer;
      color: #fa7775; }
      .readers__link:hover svg {
        stroke: #fa7775; }
  .readers__arrow {
    display: inline-block;
    padding-left: 14px; }
    .readers__arrow svg {
      stroke: #FE4D4A; }
  .readers__svg {
    color: #FE4D4A; }

.howknow {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .howknow__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #000;
    padding-right: 30px; }
  .howknow__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 134px;
    border-radius: 5px;
    background: #FE4D4A;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #fff;
    outline: none;
    border: 0px;
    text-decoration: none; }
    .howknow__btn:hover {
      cursor: pointer;
      background-color: #fa7775; }

.plusblocks {
  display: block;
  animation: showBlock 0.9s linear forwards; }

.plusblocks-flex {
  display: flex;
  animation: showBlock 0.9s linear forwards; }

@keyframes showBlock {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
