$font-main: 'Open Sans',
sans-serif;
$font-second: 'Exo',
sans-serif;
$color-green: #047e69;
$color-white: #fff;
$color-black: #000;
$color-red: #f32929;
$color-grey: #b6b6b6;
$bg-color:#fdfdfd;
$bg-plate_color: #EFEEEC;