@import '_param';
html {
    font-size: 10px;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.invisible {
    display: none;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../img/bg-page.jpg');
    background-position: left center;
    background-size: auto;
    background-repeat: no-repeat;
    &__line-top {
        width: 100%;
    }
    &__line-bottom {
        width: 100%;
        height: 30px;
        background-color: $bg-plate_color;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        position: fixed;
        font-size: 2rem;
        font-weight: 200;
        color: $color-black;
    }
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 80px 0 120px 0;
    font-size: 2rem;
}

.news {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    &__update {
        font-size: 1.6rem;
        width: 190px;
        line-height: 90%;
        display: flex;
        align-items: center;
    }
    &__time {
        display: flex;
        align-items: center;
        padding-left: 15px;
        font-size: 1.5rem;
        color: $color-black;
        &:hover {
            cursor: pointer;
            text-decoration: none;
            color: $color-red;
        }
    }
    &_padding {
        text-align: center;
        vertical-align: center;
        padding: 5px 5px 0 5px;
    }
    &-line {
        font-style: 2rem;
    }
    &__count {
        position: relative;
        &:hover {
            cursor: pointer;
        }
    }
    &__number {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $color-red;
        color: $color-white;
        top: 0px;
        right: 0px;
        position: absolute;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        vertical-align: center;
    }
}

.window {
    position: absolute;
    bottom: 30px;
    left: 200px;
    width: 500px;
    height: 600px;
    border-radius: 30px;
    border: 8px solid $color-green;
    background-color: $bg-color;
    overflow: auto;
}

.nav-style {
    width: 484px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: $bg-color;
    height: 55px;
    margin: -2px 0 3px 0;
    border-radius: 30px 30px 0 0;
}

.news__header {
    font-size: 2rem;
    font-weight: 400;
    color: $color-black;
    padding: 0 5px 8px 5px;
    &_selected {
        border-bottom: 3px solid $color-black;
        padding-bottom: 5px;
    }
    &:hover {
        cursor: pointer;
        border-bottom: 3px solid $color-black;
        padding-bottom: 5px;
    }
    &:not(:last-of-type) {
        // padding-right: 5px;
    }
}

.news {
    &__items {
        padding: 55px 15px 15px 15px;
    }
    &__item {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        width: 100%;
        border-bottom: 1px dotted $color-green;
    }
    &__pic {
        width: 200px;
    }
    &__img {}
    &__data {}
    &__text {
        display: flex;
        width: 100%;
    }
    &__article {
        font-family: $font-main;
        font-weight: 600;
        font-size: 1.6rem;
    }
    &__symbols {
        width: 55px;
    }
    &__save {
        text-align: right;
        padding-right: 3.5px;
        font-size: 2rem;
        color: $color-grey;
        &:hover {
            cursor: pointer;
            color: $color-black;
        }
    }
    &__readed {
        text-align: right;
        color: $color-grey;
        &:hover {
            cursor: pointer;
            color: $color-black;
        }
    }
    &__info {
        display: flex;
        align-items: flex-end;
        // justify-content: space-between;
    }
    &__author {
        width: 80px;
        font-family: $font-main;
        font-weight: 300;
        font-style: italic;
        font-size: 1.2rem;
    }
    &__category {
        width: 150px;
        font-family: $font-main;
        font-weight: 500;
        font-size: 1.4rem;
    }
    &__date {
        font-family: $font-main;
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-grey;
    }
}