@import '_param';
html {
    font-size: 10px;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1600px;
    padding-top: 40px;
}

.container {
    width: 100%;
    padding-left: 214px;
}

.header {
    &__style {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: flex-start;
    }
    &__logo {
        padding-right: 57px;
        display: block;
    }
    &__contact {
        display: flex;
    }
    &__tel {
        &_style {
            width: 24px;
            height: 24px;
        }
        &_color {
            fill: $color-yellow;
        }
    }
    &__tel-number {}
    &__number {
        font-family: $font-main;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 100%;
        color: $color-nav;
    }
    &__tel-text {
        width: 85px;
        padding-top: 4px;
        font-family: $font-main;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 100%;
        color: $color_text;
    }
}

.nav {
    &__style {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    &__item {
        display: block;
        font-family: $font-main;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 100%;
        color: $color-nav;
        padding-right: 46px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            text-decoration-color: $color-yellow;
            color: $color-yellow;
        }
    }
}

.main {
    &__style {
        width: 100%;
    }
}

.cover {
    width: 100%;
    background-color: $color-blue;
    display: flex;
    &__triangle {
        width: 214px;
        height: 222px;
        border-top: 222px solid $color-white;
        border-right: 214px solid transparent;
    }
    &__text {
        width: 617px;
        padding-top: 101px;
    }
    // .cover__buttons
    &__buttons {}
    // .cover__btn
    &__btn {
        // .cover__btn_order
        &_order {}
    }
    // .cover__choose
    &__choose {}
    // .cover__foto
    &__foto {
        max-width: 770px;
        width: 100%;
        border: 1px solid red;
        display: flex;
        justify-content: flex-end;
    }
    &__student {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
    }
}

.text {
    &_yellow {
        color: $color-yellow;
    }
    &__subtitle {
        font-family: $font-main;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 140%;
        text-transform: uppercase;
        color: $color-white;
        padding-bottom: 20px;
    }
    &__main {
        font-family: $font-main;
        font-weight: 800;
        font-size: 4.4rem;
        line-height: 140%;
        color: $color-white;
        padding-bottom: 20px;
        position: relative;
        z-index: 2;
    }
    &__calltoaction {
        font-family: $font-main;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 29px;
        color: $color-white;
        padding-bottom: 50px;
    }
}

.big-underline {
    display: inline-block;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 2px;
        width: 99%;
        height: 19px;
        background-color: $color-yellow;
        z-index: -1;
    }
}

.cover {
    &__bg-foto {
        width: 620px;
        height: 455px;
        background-image: url('../img/cover-students.jpg');
        background-position: center center;
        background-size: cover;
        border: 1px solid green;
        background-repeat: no-repeat;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 90, 174, 0.6);
            z-index: 5;
        }
        &_1line {
            width: 100%;
            display: flex;
        }
        &_1-1 {
            width: 63px;
            height: 70px;
            background-color: $color-blue;
        }
        &_1-2 {
            width: 495px;
            height: 70px;
            background-color: $color-blue;
        }
        &_1-3 {
            width: 60px;
            height: 70px;
            border-top: 70px solid $color-blue;
            border-right: 60px solid transparent;
        }
        // .cover__bg-foto_2line
        &_2line {}
        // .cover__bg-foto_2-1
        &_2-1 {}
        // .cover__bg-foto_2-2
        &_2-2 {}
        // .cover__bg-foto_2-3
        &_2-3 {}
    }
}

.cover-light {}