html {
  font-size: 10px; }

*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

.wrapper {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.arrow {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 265px; }
  .arrow:hover {
    cursor: pointer;
    background-color: rgba(238, 238, 238, 0.4); }

.main__style {
  width: 1200px;
  margin: 0 auto; }

.slider__topText {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.slider__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 100%;
  color: #A89365;
  text-transform: uppercase;
  padding-bottom: 10px; }
.slider__portfolio-link {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: #A89365;
  text-decoration: none; }
.slider__arr {
  padding-left: 8px; }
.slider__items {
  width: 100%;
  height: 660px;
  overflow: hidden; }
.slider__line {
  height: 660px;
  width: 3000px;
  display: flex;
  position: relative;
  left: 0px;
  transition: 0.3s ease-in-out;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }
.slider__item {
  width: 270px;
  height: 660px;
  margin-right: 30px; }
.slider__img {
  padding-bottom: 10px; }
.slider__subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 100%;
  color: #A89365;
  padding: 0 10px 10px 0; }
.slider__text {
  width: 270px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #575757;
  padding: 0 5px 0 0; }
.slider__pagination {
  width: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  display: none; }
.slider__pag {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #F2F2F2; }
  .slider__pag:hover {
    cursor: pointer;
    background-color: #A89365; }
  .slider__pag_active {
    background-color: #A89365; }
    .slider__pag_active:hover {
      cursor: initial; }
.slider__buttons {
  width: 760px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }
.slider__btn {
  width: 360px;
  height: 45px;
  border: 1px solid #A89365;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; }
  .slider__btn_specialist {
    background-color: #fff;
    color: #A89365; }
    .slider__btn_specialist:hover {
      cursor: pointer;
      background-color: #A89365;
      color: #fff; }
  .slider__btn_project {
    background-color: #A89365;
    color: #fff; }
    .slider__btn_project:hover {
      cursor: pointer;
      background-color: #fff;
      color: #A89365; }
