$font__main: 'Montserrat',
sans-serif;
$color_black: #000;
$color_white: #fff;
$color_grey: #707E93;
$color_green: #84E04C;
$color_point1: #E0E0E0;
$color_point2: #EFF0C3;
$color_point3: #000000;
$color_point4: #ffffff;
$color_point5: #707E93;
$color_point6: #E30000;
$color_point7: #4470E2;