html {
  font-size: 10px; }

*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 10px 12px; }

.click_base {
  width: 100%;
  height: 1100px;
  z-index: 100;
  background-color: rgba(148, 175, 74, 0.5);
  position: absolute;
  top: 0;
  left: 0; }

.invisible {
  display: none; }

.bmenu {
  position: absolute;
  top: 10px;
  left: 5%;
  width: 90%;
  background-color: #FDFBF0;
  z-index: 101;
  border-radius: 15px;
  padding: 9px 15px 10px 45px; }
  .bmenu__close {
    font-family: "Open Sans", sans-serif;
    font-size: 4.5rem;
    line-height: 100%;
    font-weight: 300;
    color: #5B7004;
    text-align: right; }
    .bmenu__close:hover {
      cursor: pointer; }
  .bmenu__menu {
    width: 190px;
    padding-bottom: 85px; }
  .bmenu__item {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 3rem;
    color: #494949;
    text-decoration: none;
    padding-bottom: 20px; }
  .bmenu__dopmenu {
    padding-bottom: 80px; }
  .bmenu__dop-item {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 3rem;
    color: #494949;
    text-decoration: none;
    padding-bottom: 20px; }
  .bmenu__icons {
    display: flex;
    padding-bottom: 25px; }
  .bmenu__icon {
    width: 37px;
    display: flex;
    justify-content: center; }
  .bmenu__link {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #494949;
    text-decoration: none;
    padding-left: 2px; }

.favorites {
  position: absolute;
  top: 10px;
  left: 2%;
  width: 96%;
  background-color: #FDFBF0;
  z-index: 101;
  border-radius: 15px;
  padding: 9px 10px; }
  .favorites__close {
    font-family: "Open Sans", sans-serif;
    font-size: 4.5rem;
    line-height: 100%;
    font-weight: 300;
    color: #5B7004;
    text-align: right; }
    .favorites__close:hover {
      cursor: pointer; }
  .favorites__header {
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .favorites__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    color: #494949; }
  .favorites__chapter {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 40px; }
  .favorites__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 12px; }
  .favorites__item {
    position: relative;
    z-index: 100; }

.header__style {
  position: relative; }
.header__menu {
  display: flex; }
.header__logo {
  background-image: url("../img/mobil/logo_m.png");
  width: 36px;
  height: 44px;
  alt: "FOUR GROUP"; }
.header__burger {
  width: 45px;
  height: 35px;
  display: flex;
  align-items: center; }
  .header__burger:hover {
    cursor: pointer; }
  .header__burger_items {
    margin: 0 auto;
    width: 22px;
    height: 3px;
    background-color: #5B7004;
    position: relative; }
    .header__burger_items::before {
      position: absolute;
      content: '';
      top: 8px;
      left: 0;
      width: 22px;
      height: 3px;
      background-color: #5B7004; }
    .header__burger_items::after {
      position: absolute;
      content: '';
      top: -8px;
      left: 0;
      width: 22px;
      height: 3px;
      background-color: #5B7004; }
.header__catalog {
  display: none;
  width: 204px;
  height: 51px;
  background-color: #FDFBF0;
  border-radius: 10px;
  align-items: center; }
.header__search {
  display: flex;
  align-items: center;
  width: 182;
  height: 30px;
  padding: 5px 10px;
  background: #fff;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px; }
.header__input {
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #000; }
.header__loupe:hover {
  cursor: pointer; }
.header__heart {
  padding-left: 12px;
  padding-top: 8px; }
  .header__heart:hover {
    cursor: pointer; }
.header__icon {
  fill: #444; }
  .header__icon_loupe {
    fill: #494949; }

.carousel {
  padding: 23px 0 3px 0;
  margin: 0 auto; }
  .carousel__items {
    width: 295px;
    height: 205px;
    overflow: hidden; }
  .carousel__line {
    height: 200px;
    width: 1180px;
    display: flex;
    position: relative;
    left: 0px;
    transition: 0.3s ease-in-out; }
  .carousel__item {
    width: 295px;
    height: 200px;
    margin: 0 1px;
    filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.05)); }
  .carousel__img {
    border-radius: 15px; }

.pagination__items {
  display: flex;
  widows: 100%;
  justify-content: center; }
.pagination__item {
  width: 5px;
  height: 5px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: rgba(148, 175, 74, 0.5); }
  .pagination__item:last-of-type {
    padding-right: 0px; }
  .pagination__item:hover {
    cursor: pointer;
    background-color: #94AF4A; }
  .pagination__item_active {
    background-color: #94AF4A; }

.advantages {
  width: 320px;
  height: 120px;
  margin: 0 auto;
  padding-top: 8px;
  position: relative;
  overflow: hidden; }
  .advantages__pagination {
    position: absolute;
    bottom: 0px;
    left: 50%; }
  .advantages__items {
    width: 100%;
    height: 102px;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.3s ease-in-out; }
  .advantages__item {
    width: 86px;
    height: 102px;
    margin-left: 6px;
    margin-right: 6px; }
    .advantages__item:last-of-type {
      margin-right: 0px; }
  .advantages__icon {
    width: 86px;
    height: 103px;
    padding-top: 75px; }
  .advantages__text {
    width: 77px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #494949; }

.adv-1 {
  background-image: url("../img/mobil/advantages/advantages_m-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto; }

.adv-2 {
  background-image: url("../img/mobil/advantages/advantages_m-2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto; }

.adv-3 {
  background-image: url("../img/mobil/advantages/advantages_m-3.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto; }

.adv-4 {
  background-image: url("../img/mobil/advantages/advantages_m-4.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain; }

.main__style {
  padding-top: 59px;
  padding-bottom: 20px; }

.menu__items {
  display: flex;
  justify-content: space-between; }
.menu__item {
  width: 60px;
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
.menu__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #000; }
.menu__room {
  width: 100%; }
  .menu__room_fill {
    fill: #E9E9E9; }
.menu__icons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.chapter__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  text-transform: uppercase;
  color: #494949; }

.m_room_1 {
  background-image: url(../img/mobil/rooms/m_room_1.png);
  background-repeat: no-repeat;
  background-position: center 18px;
  background-size: auto auto; }
  .m_room_1:hover {
    cursor: pointer;
    background-image: url(../img/mobil/rooms/m_room_1_active.png); }
  .m_room_1_active {
    background-image: url(../img/mobil/rooms/m_room_1_active.png);
    background-repeat: no-repeat;
    background-position: center 18px;
    background-size: auto auto; }

.m_room_2 {
  background-image: url(../img/mobil/rooms/m_room_2.png);
  background-repeat: no-repeat;
  background-position: center 12px;
  background-size: auto auto; }
  .m_room_2:hover {
    cursor: pointer;
    background-image: url(../img/mobil/rooms/m_room_2_active.png); }
  .m_room_2_active {
    background-image: url(../img/mobil/rooms/m_room_2_active.png);
    background-repeat: no-repeat;
    background-position: center 12px;
    background-size: auto auto; }

.m_room_3 {
  background-image: url(../img/mobil/rooms/m_room_3.png);
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: auto auto; }
  .m_room_3:hover {
    cursor: pointer;
    background-image: url(../img/mobil/rooms/m_room_3_active.png); }
  .m_room_3_active {
    background-image: url(../img/mobil/rooms/m_room_3_active.png);
    background-repeat: no-repeat;
    background-position: center 4px;
    background-size: auto auto; }

.m_room_4 {
  background-image: url(../img/mobil/rooms/m_room_4.png);
  background-repeat: no-repeat;
  background-position: center 17px;
  background-size: auto auto; }
  .m_room_4:hover {
    cursor: pointer;
    background-image: url(../img/mobil/rooms/m_room_4_active.png); }
  .m_room_4_active {
    background-image: url(../img/mobil/rooms/m_room_4_active.png);
    background-repeat: no-repeat;
    background-position: center 17px;
    background-size: auto auto; }

.m_room_5 {
  background-image: url(../img/mobil/rooms/m_room_5.png);
  background-repeat: no-repeat;
  background-position: center 22px;
  background-size: auto auto; }
  .m_room_5:hover {
    cursor: pointer;
    background-image: url(../img/mobil/rooms/m_room_5_active.png); }
  .m_room_5_active {
    background-image: url(../img/mobil/rooms/m_room_5_active.png);
    background-repeat: no-repeat;
    background-position: center 22px;
    background-size: auto auto; }

.submenu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0 5px 0; }
  .submenu__item {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 0.9rem;
    text-align: center;
    color: #494949;
    padding: 5px 7px;
    margin-bottom: 5px;
    margin-right: 7px;
    background-color: #F4F4F4;
    border-radius: 5px; }
    .submenu__item:hover {
      cursor: pointer;
      background-color: #FBCF79; }

.fotos {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .fotos__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px; }
  .fotos__left {
    width: 140px;
    height: 347px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px; }
  .fotos__right {
    width: 140px;
    height: 347px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .fotos__more {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 58px 0; }
  .fotos__btn {
    width: 79px;
    height: 35px;
    border-radius: 15px;
    background-color: rgba(148, 175, 74, 0.5);
    border: none;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 3.1rem;
    color: #fff; }
    .fotos__btn:hover {
      cursor: pointer; }

.fitem {
  width: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 15px; }
  .fitem_favorites {
    width: 130px; }
  .fitem__big {
    height: 209px; }
  .fitem__small_favorites {
    height: 117px; }
  .fitem__small {
    height: 125px; }
  .fitem__img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1; }
  .fitem__text {
    width: 100%;
    padding: 8px 8px 4px 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .fitem__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
  .fitem__type {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #494949; }
  .fitem__heart {
    width: 14px; }
    .fitem__heart_svg {
      fill: #fff; }
      .fitem__heart_svg:hover {
        fill: #C02F2F; }
  .fitem__heart_svg_favorites {
    fill: #C02F2F; }
  .fitem__lighten {
    position: absolute;
    width: 140px;
    height: 105px;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(179.13deg, rgba(255, 255, 255, 0.03) -0.72%, rgba(255, 255, 255, 0.67) 56.65%);
    border-radius: 0px 0px 15px 15px;
    z-index: 2; }
  .fitem__lighten_favorites {
    position: absolute;
    width: 130px;
    height: 105px;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(179.13deg, rgba(255, 255, 255, 0.03) -0.72%, rgba(255, 255, 255, 0.67) 56.65%);
    border-radius: 0px 0px 15px 15px;
    z-index: 102; }
  .fitem__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: #494949; }
    .fitem__title:hover {
      cursor: pointer; }

.map {
  width: 100%; }
  .map__img {
    padding: 20px 0 45px 0; }

.stages {
  width: 100%;
  padding: 13px 9px;
  background-color: #FDFBF0;
  border-radius: 15px; }
  .stages__curtail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    display: none; }
  .stages__line-1 {
    width: 96%;
    height: 45px;
    display: flex;
    border-right: 3px dotted #C9D6A4;
    border-bottom: 3px dotted #C9D6A4;
    border-left: none;
    border-top: none;
    margin-left: 12px;
    border-radius: 0 0 15px 0; }
  .stages__items {
    width: 90%;
    font-size: 2rem;
    color: #C9D6A4;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: -25px; }
  .stages__line-2 {
    width: 96%;
    height: 45px;
    border-left: 3px dotted #C9D6A4;
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-radius: 15px 0 0 0; }
  .stages__line-3 {
    width: 100%;
    height: 45px; }
  .stages__line-4 {
    width: 100%;
    height: 45px; }
  .stages__line-5 {
    width: 100%;
    height: 45px; }
  .stages__line-6 {
    width: 60%;
    height: 45px;
    margin: 0 auto; }
  .stages-border {
    border-style: dashed;
    border-color: #C9D6A4;
    border-width: 1px;
    border-radius: 15px; }
  .stages__item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px; }
  .stages__left {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .stages__img {
    width: 91px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .stages__arrow {
    width: 2px;
    height: 100%;
    background-color: #C9D6A4;
    position: relative;
    font-size: 2rem;
    color: #C9D6A4; }
    .stages__arrow::after {
      content: '\2303';
      transform: rotate(180deg);
      bottom: -7px;
      left: -7px;
      position: absolute; }
  .stages__text {
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: #494949;
    padding-left: 5px; }

.about {
  padding-top: 58px; }
  .about__block {
    margin-top: 15px;
    border-radius: 15px;
    background-color: #FDFBF0;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.05); }
  .about__img {
    width: 100%;
    border-radius: 15px 15px 0 0; }
  .about__text {
    width: 100%;
    padding: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #494949; }
  .about__link {
    color: #708208;
    text-decoration: underline; }
    .about__link:hover {
      cursor: pointer;
      text-decoration: none;
      color: #94AF4A; }

.footer__style {
  padding: 14px;
  margin-bottom: 20px;
  background-color: #FDFBF0;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 15px; }
.footer__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #494949;
  padding-bottom: 18px; }
.footer__icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
.footer__icon {
  fill: #494949;
  margin-right: 11px; }
  .footer__icon:hover {
    cursor: pointer;
    fill: #708208; }
