$bgcolor_first: #0B0D19;
$bgcolor_second: #0D101F;
$text-color_first: #D9D9D9;
$text-color_second: #A3A3A3;
$text-color_inactive:#80758F;
$color_active:#AB78FF;
$color-icon_main:#F6F0FF;
$font_main: 'Montserrat',
sans-serif;
$anim_time: 100ms;