@import '_param_pult';
html {
    font-size: 10px;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

// 320px
// .wrapper {
//     width: 320px;
//     margin: 0 auto;
//     border: 1px solid;
// }
// .main__style {
//     width: 92%;
//     margin: 0 auto;
// }
// .slider {
//     &__topText {
//         padding-bottom: 20px;
//     }
//     &__title {
//         font-family: $font_main;
//         font-weight: 600;
//         font-size: 2.4rem;
//         line-height: 100%;
//         color: $color_gold;
//         text-transform: uppercase;
//         padding-bottom: 10px;
//     }
//     &__portfolio-link {
//         font-family: $font_main;
//         font-weight: 400;
//         font-size: 1.8rem;
//         line-height: 2.3rem;
//         text-transform: uppercase;
//         color: $color_gold;
//         text-decoration: none;
//     }
//     &__arr {
//         padding-left: 8px;
//     }
//     &__main {}
//     &__items {
//         width: 100%;
//         height: 660px;
//         overflow: hidden;
//     }
//     &__line {
//         height: 660px;
//         width: 3000px;
//         display: flex;
//         position: relative;
//         left: 0px;
//         transition: 0.3s ease-in-out;
//         margin: 0 0 0 0;
//         padding: 0 0 0 0;
//         box-sizing: border-box;
//     }
//     &__item {
//         width: 300px;
//         height: 660px;
//     }
//     &__img {
//         padding-bottom: 10px;
//     }
//     &__subtitle {
//         font-family: $font_main;
//         font-weight: 500;
//         font-size: 2.4rem;
//         line-height: 100%;
//         color: $color_gold;
//         padding: 0 10px 10px 0;
//     }
//     &__text {
//         width: 300px;
//         font-family: $font_main;
//         font-weight: 400;
//         font-size: 1.6rem;
//         line-height: 2.4rem;
//         color: $color_text;
//         padding: 0 5px 0 0;
//     }
//     &__pagination {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         padding: 20px 0px;
//     }
//     &__pag {
//         width: 12px;
//         height: 12px;
//         border-radius: 50%;
//         background-color: $bgcolor_pagination;
//         &:hover {
//             cursor: pointer;
//             background-color: $color_gold;
//         }
//         &_active {
//             background-color: $color_gold;
//             &:hover {
//                 cursor: initial;
//             }
//         }
//     }
//     &__buttons {
//         width: 100%;
//         height: 110px;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         align-items: center;
//     }
//     &__btn {
//         width: 100%;
//         height: 45px;
//         border: 1px solid $color_gold;
//         font-family: $font_main;
//         font-weight: 400;
//         font-size: 1.8rem;
//         line-height: 2.3rem;
//         display: flex;
//         align-items: center;
//         text-align: center;
//         text-transform: uppercase;
//         &_specialist {
//             background-color: $color_white;
//             color: $color_gold;
//             &:hover {
//                 cursor: pointer;
//                 background-color: $color_gold;
//                 color: $color_white;
//             }
//         }
//         &_project {
//             background-color: $color_gold;
//             color: $color_white;
//             &:hover {
//                 cursor: pointer;
//                 background-color: $color_white;
//                 color: $color_gold;
//             }
//         }
//     }
// }
//
//
//640
// .wrapper {
//     width: 640px;
//     margin: 0 auto;
//     border: 1px solid;
// }
// .main__style {
//     width: 92%;
//     max-width: 600px;
//     margin: 0 auto;
// }
// .slider {
//     &__topText {
//         padding-bottom: 20px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
//     &__title {
//         font-family: $font_main;
//         font-weight: 600;
//         font-size: 2.4rem;
//         line-height: 100%;
//         color: $color_gold;
//         text-transform: uppercase;
//         padding-bottom: 10px;
//     }
//     &__portfolio-link {
//         font-family: $font_main;
//         font-weight: 400;
//         font-size: 1.8rem;
//         line-height: 2.3rem;
//         text-transform: uppercase;
//         color: $color_gold;
//         text-decoration: none;
//     }
//     &__arr {
//         padding-left: 8px;
//     }
//     &__main {}
//     &__items {
//         width: 100%;
//         height: 660px;
//         overflow: hidden;
//     }
//     &__line {
//         height: 660px;
//         width: 3000px;
//         display: flex;
//         position: relative;
//         left: 0px;
//         transition: 0.3s ease-in-out;
//         margin: 0 0 0 0;
//         padding: 0 0 0 0;
//         box-sizing: border-box;
//     }
//     &__item {
//         width: 270px;
//         height: 660px;
//         margin-right: 30px;
//     }
//     &__img {
//         padding-bottom: 10px;
//     }
//     &__subtitle {
//         font-family: $font_main;
//         font-weight: 500;
//         font-size: 2.4rem;
//         line-height: 100%;
//         color: $color_gold;
//         padding: 0 10px 10px 0;
//     }
//     &__text {
//         width: 270px;
//         font-family: $font_main;
//         font-weight: 400;
//         font-size: 1.6rem;
//         line-height: 2.4rem;
//         color: $color_text;
//         padding: 0 5px 0 0;
//     }
//     &__pagination {
//         // width: 100%;
//         width: 140px;
//         margin: 0 auto;
//         display: flex;
//         justify-content: space-between;
//         padding: 20px 0px;
//     }
//     &__pag {
//         width: 12px;
//         height: 12px;
//         border-radius: 50%;
//         background-color: $bgcolor_pagination;
//         &:hover {
//             cursor: pointer;
//             background-color: $color_gold;
//         }
//         &_active {
//             background-color: $color_gold;
//             &:hover {
//                 cursor: initial;
//             }
//         }
//     }
//     &__buttons {
//         width: 100%;
//         height: 110px;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         align-items: center;
//     }
//     &__btn {
//         width: 100%;
//         height: 45px;
//         border: 1px solid $color_gold;
//         font-family: $font_main;
//         font-weight: 400;
//         font-size: 1.8rem;
//         line-height: 2.3rem;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         text-transform: uppercase;
//         &_specialist {
//             background-color: $color_white;
//             color: $color_gold;
//             &:hover {
//                 cursor: pointer;
//                 background-color: $color_gold;
//                 color: $color_white;
//             }
//         }
//         &_project {
//             background-color: $color_gold;
//             color: $color_white;
//             &:hover {
//                 cursor: pointer;
//                 background-color: $color_white;
//                 color: $color_gold;
//             }
//         }
//     }
// }
//
//
//
//1280
// .wrapper {
//     width: 1280px;
//     margin: 0 auto;
//     // border: 1px solid;
//     display: flex;
//     justify-content: center;
// }
// .arrow {
//     width: 40px;
//     display: flex;
//     justify-content: center;
//     align-items: flex-start;
//     padding-top: 265px;
//     border: none;
//     background-color: transparent;
//     outline: none;
//     &:hover {
//         cursor: pointer;
//         background-color: rgba($color: #eee, $alpha: 0.4);
//     }
// }
// .main__style {
//     width: 1200px;
//     // width: 92%;
//     // max-width: 600px;
//     margin: 0 auto;
//     // border: 1px solid red;
// }
// .slider {
//     &__topText {
//         padding-bottom: 20px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
//     &__title {
//         font-family: $font_main;
//         font-weight: 600;
//         font-size: 2.4rem;
//         line-height: 100%;
//         color: $color_gold;
//         text-transform: uppercase;
//         padding-bottom: 10px;
//     }
//     &__portfolio-link {
//         font-family: $font_main;
//         font-weight: 400;
//         font-size: 1.8rem;
//         line-height: 2.3rem;
//         text-transform: uppercase;
//         color: $color_gold;
//         text-decoration: none;
//     }
//     &__arr {
//         padding-left: 8px;
//     }
//     &__main {}
//     &__items {
//         width: 100%;
//         height: 660px;
//         overflow: hidden;
//     }
//     &__line {
//         height: 660px;
//         width: 3000px;
//         display: flex;
//         position: relative;
//         left: 0px;
//         transition: 0.3s ease-in-out;
//         margin: 0 0 0 0;
//         padding: 0 0 0 0;
//         box-sizing: border-box;
//     }
//     &__item {
//         width: 270px;
//         height: 660px;
//         margin-right: 30px;
//     }
//     &__img {
//         padding-bottom: 10px;
//     }
//     &__subtitle {
//         font-family: $font_main;
//         font-weight: 500;
//         font-size: 2.4rem;
//         line-height: 100%;
//         color: $color_gold;
//         padding: 0 10px 10px 0;
//     }
//     &__text {
//         width: 270px;
//         font-family: $font_main;
//         font-weight: 400;
//         font-size: 1.6rem;
//         line-height: 2.4rem;
//         color: $color_text;
//         padding: 0 5px 0 0;
//     }
//     &__pagination {
//         // width: 100%;
//         width: 140px;
//         margin: 0 auto;
//         display: flex;
//         justify-content: space-between;
//         padding: 20px 0px;
//         display: none;
//     }
//     &__pag {
//         width: 12px;
//         height: 12px;
//         border-radius: 50%;
//         background-color: $bgcolor_pagination;
//         &:hover {
//             cursor: pointer;
//             background-color: $color_gold;
//         }
//         &_active {
//             background-color: $color_gold;
//             &:hover {
//                 cursor: initial;
//             }
//         }
//     }
//     &__buttons {
//         width: 760px;
//         height: 110px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         margin: 0 auto;
//     }
//     &__btn {
//         width: 360px;
//         height: 45px;
//         border: 1px solid $color_gold;
//         font-family: $font_main;
//         font-weight: 400;
//         font-size: 1.8rem;
//         line-height: 2.3rem;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         text-transform: uppercase;
//         &_specialist {
//             background-color: $color_white;
//             color: $color_gold;
//             &:hover {
//                 cursor: pointer;
//                 background-color: $color_gold;
//                 color: $color_white;
//             }
//         }
//         &_project {
//             background-color: $color_gold;
//             color: $color_white;
//             &:hover {
//                 cursor: pointer;
//                 background-color: $color_white;
//                 color: $color_gold;
//             }
//         }
//     }
// }
//
//
//
//1920
.wrapper {
    width: 1920px;
    margin: 0 auto;
    // border: 1px solid;
    display: flex;
    justify-content: center;
}

.arrow {
    width: 80px;
    padding-top: 342px;
    border: none;
    background-color: transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &:hover {
        cursor: pointer;
        background-color: rgba($color: #eee, $alpha: 0.4);
    }
    &__svg {
        fill: none;
        width: 80px;
        height: 80px;
        padding-top: calc(50% - 16px);
        padding-left: calc(50% - 16px);
    }
    &__path {
        fill: none;
        stroke: $color_gold;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}

.main__style {
    width: 1760px;
    // width: 92%;
    // max-width: 600px;
    margin: 0 auto;
    // border: 1px solid red;
}

.slider {
    &__topText {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-family: $font_main;
        font-weight: 600;
        font-size: 4.8rem;
        line-height: 100%;
        color: $color_gold;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    &__portfolio-link {
        font-family: $font_main;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.3rem;
        text-transform: uppercase;
        color: $color_gold;
        text-decoration: none;
    }
    &__arr {
        padding-left: 8px;
    }
    &__main {}
    &__items {
        width: 100%;
        height: 820px;
        overflow: hidden;
    }
    &__line {
        height: 800px;
        width: 100%;
        display: flex;
        position: relative;
        left: 0px;
        transition: 0.3s ease-in-out;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        box-sizing: border-box;
    }
    &__item {
        width: 410px;
        height: 800px;
        margin-right: 40px;
    }
    &__img {
        padding-bottom: 10px;
    }
    &__subtitle {
        font-family: $font_main;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 100%;
        color: $color_gold;
        padding: 0 10px 10px 0;
    }
    &__text {
        width: 410px;
        font-family: $font_main;
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        color: $color_text;
        padding: 0 5px 0 0;
    }
    &__pagination {
        // width: 100%;
        width: 140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        display: none;
    }
    &__pag {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $bgcolor_pagination;
        &:hover {
            cursor: pointer;
            background-color: $color_gold;
        }
        &_active {
            background-color: $color_gold;
            &:hover {
                cursor: initial;
            }
        }
    }
    &__buttons {
        width: 760px;
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    &__btn {
        width: 360px;
        height: 45px;
        border: 1px solid $color_gold;
        font-family: $font_main;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        &_specialist {
            background-color: $color_white;
            color: $color_gold;
            &:hover {
                cursor: pointer;
                background-color: $color_gold;
                color: $color_white;
            }
        }
        &_project {
            background-color: $color_gold;
            color: $color_white;
            &:hover {
                cursor: pointer;
                background-color: $color_white;
                color: $color_gold;
            }
        }
    }
}