$font_main: 'Open Sans',
sans-serif;
$color_burger: #5B7004;
$bgcolor_plate: #FDFBF0;
$bgcolor_svg: #E9E9E9;
$bgcolor_footer: #FDFBF0;
$color_white: #fff;
$color_black:#000;
$color_icons: #444;
$color_text: #494949;
$color_submenu: #F4F4F4;
$color_submenu_active: #FBCF79;
$color_pagination_active: #94AF4A;
$color_pagination: rgba(148, 175, 74, 0.5);
$color_heart: #C02F2F;
$color_border: #C9D6A4;
$color_footer-link: #708208;