$font_main: 'Open Sans',
sans-serif;
$color_burger: #5B7004;
$bgcolor_plate: #FDFBF0;
$bgcolor_svg: #E9E9E9;
$color_white: #fff;
$color_black:#000;
$color_icons: #444;
$color_text: #494949;
$color_pagination_active: #94AF4A;
$color_pagination: rgba(148, 175, 74, 0.5);