$bgcolor: #f2f2f2;
$font_main: 'Roboto',
sans-serif;
$fs: 10px;
$color_white: #fff;
$color_black: #000;
$color_range: #e2e2e2;
$color_red: #FE4D4A;
$color_red-light: #fa7775;
$color_pink: #FEEBEF;
$color_pink-light: #FFF6F8;
$range_gradient: linear-gradient(90deg, #FF9796 4.65%, #FE4D4A 101.3%);