html {
  font-size: 10px; }

*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

.wrapper {
  width: 320px;
  margin: 0 auto;
  border: 1px solid;
  overflow: hidden; }

.container {
  width: 260px;
  margin: 0 auto; }

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #c8c8c8; }
.header__logo {
  padding: 0 165px 0 29px;
  font-family: "inglobal", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  color: #ff431e; }
.header__line {
  width: 1px;
  height: 100%;
  background-color: #c8c8c8; }
.header__burger {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header__burger:hover {
    cursor: pointer; }
  .header__burger-menu {
    width: 16px;
    height: 3px;
    background-color: #ff431e;
    position: relative; }
    .header__burger-menu::before {
      position: absolute;
      content: '';
      top: -5px;
      left: 0pc;
      width: 16px;
      height: 3px;
      background-color: #ff431e; }
    .header__burger-menu::after {
      position: absolute;
      content: '';
      top: 5px;
      left: 0pc;
      width: 16px;
      height: 3px;
      background-color: #ff431e; }
.header__img {
  width: 100%;
  height: 340px;
  background-image: url("../img/header/header__img.png");
  background-position: center center;
  background-size: cover;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
.header__title {
  text-shadow: -1px 1px 5px #1e1e1e, -2px 2px 5px #1e1e1e, -3px 3px 5px #1e1e1e, -4px 4px 5px #1e1e1e, 1px -1px 5px #1e1e1e, 2px -2px 5px #1e1e1e, 3px -3px 5px #1e1e1e, 4px -4px 5px #1e1e1e, -1px -1px 5px #1e1e1e, -2px -2px 5px #1e1e1e, -3px -3px 5px #1e1e1e, -4px -4px 5px #1e1e1e, 1px 1px 5px #1e1e1e, 2px 2px 5px #1e1e1e, 3px 3px 5px #1e1e1e, 4px 4px 5px #1e1e1e, 0 0 51px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-family: "inglobal", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  transform: rotate(-10deg);
  padding-left: 30px; }
  .header__title_1 {
    text-align: left;
    padding-left: 25px; }
  .header__title_2 {
    text-align: right;
    padding-left: 55px; }
  .header__title_3 {
    text-align: left; }

.touch {
  padding-top: 45px;
  height: 125px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .touch__line {
    width: 60px;
    height: 1px;
    background-color: #c8c8c8; }
  .touch__data {
    display: flex;
    align-items: center; }
  .touch__icon {
    width: 34px;
    height: 45px; }
  .touch__text {
    width: 64px;
    padding-left: 5px;
    font-family: "inglobal", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
    line-height: 1.8rem; }
    .touch__text_red {
      color: #ff431e; }
    .touch__text_blue {
      color: #0694f8;
      width: 85px; }

.main-style {
  padding-top: 90px; }

.text-1 {
  text-align: right;
  padding-bottom: 162px; }
  .text-1__title {
    font-family: "inglobal", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
    color: #0694f8;
    padding-bottom: 35px; }
  .text-1__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #282828; }

.form {
  position: relative; }
  .form::before {
    position: absolute;
    content: '';
    top: -125px;
    left: -110px;
    width: 218px;
    height: 204px;
    background-image: url("../img/form/elements/hat.png"); }
  .form__elements-left {
    position: relative; }
    .form__elements-left::before {
      position: absolute;
      content: '';
      top: -125px;
      left: 20px;
      width: 114px;
      height: 72px;
      background-image: url("../img/form/elements/monocle.png");
      background-position: center center;
      z-index: -2; }
    .form__elements-left::after {
      position: absolute;
      content: '';
      top: -100px;
      left: 140px;
      width: 98px;
      height: 55px;
      background-image: url("../img/form/elements/pipe.png");
      background-position: center center;
      z-index: -2; }
  .form__elements-right {
    position: relative; }
    .form__elements-right::before {
      position: absolute;
      content: '';
      top: -75px;
      left: 187px;
      width: 54px;
      height: 45px;
      background-image: url("../img/form/elements/cup.png");
      background-position: center center;
      z-index: -2; }
    .form__elements-right::after {
      position: absolute;
      content: '';
      top: -73px;
      right: -33px;
      width: 102px;
      height: 82px;
      background-image: url("../img/form/elements/teapot.png");
      background-position: center center;
      z-index: -2; }
  .form__style {
    width: 100%;
    height: 460px;
    background-color: #ffffff;
    border-top: 1px solid #c8c8c8;
    padding-top: 53px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10; }
    .form__style::before {
      content: '';
      background-image: url("../img/form/flag-gift.png");
      background-position: center bottom;
      position: absolute;
      top: -90px;
      left: 36px;
      width: 248px;
      height: 97px;
      z-index: -1; }
  .form__title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #505050;
    padding-bottom: 8px; }
  .form__text {
    font-family: "Open Sans", sans-serif;
    color: #505050;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
    padding-bottom: 25px; }
  .form__inputs {
    width: 240px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .form__input {
    width: 240px;
    height: 40px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    padding: 16px 0px 15px 14px;
    color: #969696;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.4;
    text-align: left;
    margin-bottom: 14px; }
  .form__button {
    padding-top: 20px;
    padding-bottom: 29px; }
  .form__btn {
    width: 240px;
    height: 40px;
    box-shadow: inset 0 -2px 0 #0568b5;
    border-radius: 4px;
    background-color: #0694f8;
    border: none;
    outline: none;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal; }
    .form__btn:hover {
      cursor: pointer; }
  .form__tel {
    color: #0694f8;
    font-family: "Open Sans", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    padding-bottom: 45px; }
  .form__line {
    width: 240px;
    height: auto;
    padding-bottom: 30px;
    margin: 0 auto; }

.clients {
  width: 100%;
  min-height: 300px;
  background-image: url("../img/clients/bg-wood_mobile.jpg");
  position: relative; }
  .clients__title {
    background-clip: text;
    color: linear-gradient(180deg, #dec8a8 0%, #b76c00 100%);
    text-shadow: 0 1px 1px #ffffff;
    font-family: "inglobal", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    position: absolute;
    top: 66px;
    left: 108px;
    width: 140px; }
  .clients__items {
    position: relative;
    z-index: 1; }
  .clients__item_1 {
    width: 94px;
    height: 110px;
    background-image: url("../img/clients/logos/mobile/note-1.png");
    background-position: center center;
    position: absolute;
    top: 113px;
    left: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; }
  .clients__logo-1 {
    width: 62px;
    height: 56px; }
  .clients__item_2 {
    width: 103px;
    height: 98px;
    background-image: url("../img/clients/logos/mobile/note-2.png");
    background-position: center center;
    position: absolute;
    top: 54px;
    left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; }
  .clients__logo-2 {
    width: 55px;
    height: 31px; }
  .clients__item_3 {
    width: 100px;
    height: 103px;
    background-image: url("../img/clients/logos/mobile/note-3.png");
    background-position: center center;
    position: absolute;
    top: 166px;
    left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; }
  .clients__logo-3 {
    width: 68px;
    height: 18px; }
  .clients__item_4 {
    width: 103px;
    height: 113px;
    background-image: url("../img/clients/logos/mobile/note-4.png");
    background-position: center center;
    position: absolute;
    top: 100px;
    left: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; }
  .clients__logo-4 {
    width: 61px;
    height: 25px; }
  .clients__item_5 {
    width: 98px;
    height: 104px;
    background-image: url("../img/clients/logos/mobile/note-5.png");
    background-position: center center;
    position: absolute;
    top: 170px;
    left: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; }
  .clients__logo-5 {
    width: 59px;
    height: 13px; }
  .clients__item_6 {
    width: 103px;
    height: 101px;
    background-image: url("../img/clients/logos/mobile/note-6.png");
    background-position: center center;
    position: absolute;
    top: 108px;
    left: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; }
  .clients__logo-6 {
    width: 40px;
    height: 36px; }
  .clients__item_7 {
    width: 105px;
    height: 117px;
    background-image: url("../img/clients/logos/mobile/note-7.png");
    background-position: center center;
    position: absolute;
    top: 160px;
    right: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; }
  .clients__logo-7 {
    width: 64px;
    height: 32px; }
  .clients__item_8 {
    width: 108px;
    height: 108px;
    background-image: url("../img/clients/logos/mobile/note-8.png");
    background-position: center center;
    position: absolute;
    top: 39px;
    right: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4; }
  .clients__logo-8 {
    width: 63px;
    height: 39px; }

.form-discount {
  height: 600px;
  padding-top: 70px;
  background-image: url("../img/macbook_mobile.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }
  .form-discount__logo {
    color: #090909;
    font-family: "inglobal", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    font-style: italic;
    line-height: 3.6rem;
    text-align: center;
    padding-bottom: 30px; }
  .form-discount__title {
    width: 260px;
    font-family: "Open Sans", sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
    text-align: center; }
  .form-discount__text {
    color: #282828;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    line-height: 30px; }
    .form-discount__text_red {
      color: #ff431e; }
  .form-discount__line {
    padding: 18px 0 21px 0; }
  .form-discount__inputs {
    width: 100%;
    margin: 0 auto; }
  .form-discount__button {
    text-align: center; }
