@import '_param-todo';
html {
    font-size: 10px;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.container {
    width: 600px;
    margin: auto;
}

.header {
    // .header__style
    &__style {}
    // .header__title
    &__title {
        font-family: $font;
        font-size: 3rem;
        font-weight: 400;
        line-height: 3.3rem;
        color: $black;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 5px;
    }
}

.main {
    // .main__style
    &__style {}
    // .main__title
    &__title {
        font-family: $font;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
        color: $black;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 35px;
    }
}

.task {
    &__item {
        display: flex;
        margin: auto;
        width: 100%;
        justify-content: flex-start;
    }
    &__numb {
        width: 60px;
        height: 60px;
        font-family: $font;
        font-size: 2.5rem;
        font-weight: 400;
        color: $black;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 5px;
    }
    &__name {
        width: 100%;
        outline: none;
        border: none;
        height: 60px;
        font-family: $font;
        font-size: 4rem;
        padding: 5px 0 5px 10px;
        font-weight: 400;
        line-height: 2rem;
        color: $black;
    }
    &__del {
        width: 30px;
    }
}